.featurette-divider{
    margin:5rem 0;
}
.space-top {
    margin-top : 5rem ;
  }
  .space {
    margin: 4rem 0 0rem 0;
  }

.space-y{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
  
.space-b{
    margin-bottom: 5rem;
}
  
.space-y-g{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
