@import './../../../assets/scss/variables.scss';
.navbar {
    min-height: 120px;

    .logo-img{
        width: 50px;
    }
 
    .navbar-dark .navbar-brand{
        color: $primary-color;
    }

    .nav-link{
        &:hover{
            cursor: pointer;
        }
    }
  
}
.bg-dark{
    background-color: $dark-blue !important;
}