@import './../../../assets/scss/variables.scss';
.navbar {
    height: 120px;
 
    .navbar-dark .navbar-brand{
        color: $primary-color;
    }

    .nav-link{
        &:hover{
            cursor: pointer;
        }
    }
  
}
.bg-dark{
    background-color: $dark-blue !important;
}