<app-header></app-header>
<div class="container">
    <div class="row space-y">
        <h2 class="text-right fw-normal">Services</h2>
        <div *ngIf="false">
            <p class=" fs-1">
                Meet team Say Hey. Together we aim help our clients to inspire and impact the world around them.


            </p>
        </div>
   
    </div>

    <div class="row featurette space-y" id="walking">
        <div class="col-md-7 align-self-center">
          <h2 class="fw-light lh-1 ff-bold text-uppercase  mb-5">Walking</h2>
          <p class="lead">Send us a message through our Instagram OR text/call our business phone. We will work with you to schedule walks same day or in the future. When ordering an on-demand service we work to get you a walker within the hour of your request. </p>
        </div>
        <div class="col-md-5">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="../../../assets/imgs/Walking-1.png"
          alt="" class="img-fluid media-img" >
        </div>
      </div>


      <div class="row featurette space-y-g" id="boarding">
        <div class="col-md-7 order-md-2 align-self-center">
            <h2 class="fw-light lh-1 mb-5 ff-bold text-uppercase">Boarding</h2>
            <p class="lead">Send us a message through our Instagram OR text/call our business phone. We will work with you to schedule days needed for boarding and arrange pickup/drop off of your dog with a pre-approved house and caregiver.</p>        </div>
        <div class="col-md-5 order-md-1">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="../../../assets/imgs/Boarding-1.png"
          alt="" class="img-fluid media-img" >
        </div>
      </div>
      
      <div class="row featurette space-y-g" id="transportation">
        <div class="col-md-7 align-self-center">
            <h2 class="fw-light lh-1 text-uppercase ff-bold mb-5">Transportation</h2>
            <p class="lead">Send us a message through our Instagram OR text/call our business phone. We will work with you to schedule days, times, and locations needed to pickup/drop off of your dog where they need to go. </p>        </div>
        <div class="col-md-5 ">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="../../../assets/imgs/Transportation-1.png"
          alt="" class="img-fluid media-img" >
        </div>
      </div>

     

</div>


<app-footer></app-footer>
