$dark-blue: rgb(0, 18, 51) ;
$primary-color: #e503a0;
$pink:  #e61874;
$white: #fff ;
$bg-color: #ee1375 ;
$bg-light-gray: #f5f5f5 ;





$ff-bold :'metropolis-blod';
$ff-regular: 'metropolis';
$ff-light: 'metropolis-light'
