<app-header></app-header>

<div class="container-fluid">
    <div class="row contact-us-wrapper justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <div class="d-block">
            <h1>contact us </h1>
        </div>
            <div class="d-block">           
                 <form action="">
                    <div class="mb-3">
                        <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                        <input class="form-control" type="file" id="formFileDisabled" disabled>
                      </div>
                   <div class="mb-3">
                    <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                    <input class="form-control" type="file" id="formFileDisabled" disabled>
                  </div>
                  <div class="mb-3">
                    <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                    <input class="form-control" type="file" id="formFileDisabled" disabled>
                  </div>
                  
                  
                  
            </form>
        </div>

        </div>
    </div>
</div>
<app-footer></app-footer>