@import "./../../../assets/scss/variables.scss";
.row {
  --bs-gutter-x: 0;
}
.section-1 {
  .section-text {
    height: auto;
    color: $dark-blue;
    margin: auto;
  }
  .section-image {
    flex-basis: 50;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}
.section-2 {
  margin-top: 64px;
  margin-bottom: 64px;
  img {
    height: 395px;
  }
}

.media-img {
  width: 500px;
  height: 100%;
}

.space-bottom {
  margin-bottom: 5rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-flip {
  transform: scaleX(-1);
}

.banner {
  height: 70vh;
}
.main-headline {
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $ff-bold;
}
.main-title {
  background-color: $primary-color;
  color: $dark-blue;
  font-family: $ff-bold;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sections-space {
  margin-top: 7rem;
  margin-bottom: 7rem;
  font-family: $ff-regular;
}

.service-title {
  margin: 0.5rem;
  color: $dark-blue;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid $dark-blue;
  font-weight: bold;
  &:hover, &:focus  {
    color: $dark-blue;
    border: 1px solid $dark-blue;
    background-color: #fff;

  }
}

.bg-section {
  background-image: url('./../../../assets/imgs/TopBanner-e-1.png') ;
  background-size: cover ;
  height: 500px;
}
.bg-title-section{
  background-color: $bg-color;
  columns: $dark-blue;
}

.gray-bg{
  background-color: $bg-light-gray ;
  padding-top: 1rem;

}
@media screen and (max-width: 992px) {
  .bg-section {
    background-image: none;
    margin-top: -3rem;
    margin-bottom: 2rem;
    height: auto;
  }
  .bg-title-section{
    display: none;
  }
  
  
}
