<app-header></app-header>

<main class="container-fluid p-0">
<div class="row">
    <img src="../../../assets/imgs/Top Banner .png" alt="" class="">
</div>
<!-- <div class="row">
  <h3 class="text-center text-uppercase main-title ">First Walk on Us and Why not 8TH Walk  Too</h3>
</div> -->


    <section class="section-1 ps-1 row">

     
        
            <div class="section-text col-md-6 col-sm-12  order-2 order-md-1  ps-md-5 ">
                <h1 class="main-headline">
                    EASIEST. QUIZ. EVER.
                </h1>
                <p>
                    Tell us what you need to get ready, we'll do the rest.
                </p>
                <div class="d-flex justify-content-start">
                  <a href="" class="ay-btn ay-link-btn-lg">Get Started</a>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 order-1 order-md-2  ">
                <!-- <img class="w-100" src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
                    alt=""> -->
                    <div class="w-100 space-top video-container">
                        <iframe  src="https://www.youtube.com/embed/cWvbUDBBxiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>

    </section>
 


<section class="container">
    <div class="row text-center sections-space">
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="../../../assets/imgs/Walking.png" role="img" alt="Walking"/>
  
          <h2 class="fw-normal"><a href="#">Walking</a></h2>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/imgs/Boarding.png" role="img" />
  
          <h2 class="fw-normal"><a  href="#">Boarding</a></h2>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/imgs/Transportation.png" role="img" />
  
          <h2 class="fw-normal"><a href="#">Transportation</a></h2>
          
        </div><!-- /.col-lg-4 -->
      </div>

    </section>


   <div class="container">
    <div class="row space-y-g">
      <h2 class="text-center text-uppercase ff-bold">Let Us Explain to the coolest app</h2>
    </div>
   </div> 

<section class="container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class=" fw-normal lh-1 text-uppercase ff-bold">Join the Hundreds already in our community.</h2> 
          <p class="lead pt-4 pb-4 ff-normal">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
          alt="" class="img-fluid media-img" >
        </div>
      </div>



        <div class="row space-y-g">
          <h2 class="text-center text-uppercase">Why Aychiuaua ?</h2>
        </div>




      <div class="row featurette space-bottom">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1 text-uppercase ff-bold" >This is not your regular dog app </h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
          alt="" class="img-fluid media-img" >
        </div>
      </div>

    </section>




</main>

<app-footer></app-footer>