<app-header></app-header>

<main class="container-fluid p-0">
<div class="row">
    <img src="./../../../assets/imgs/dog.jpeg" alt="" class="w-100  img-flip banner">
  
 
</div>
    <section class="section-1 ps-1 row">

     
        
            <div class="section-text col-md-6 col-sm-12  order-2 order-md-1  ps-md-5 ">
                <h1>
                    EASIEST. QUIZ. EVER.
                </h1>
                <p>
                    Tell us what you need to get ready, we'll do the rest.
                </p>
                <div>
                    <a>Get Started</a>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 order-1 order-md-2  ">
                <!-- <img class="w-100" src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
                    alt=""> -->
                    <div class="w-100 space-top video-container">
                        <iframe  src="https://www.youtube.com/embed/cWvbUDBBxiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>

    </section>


    <hr class="featurette-divider">

    <section class="container">
        <div class="row d-flex justify-content-center">
            <h1 class="fw-bold text-center">
                Tell Us how can we help 
            </h1>
            <div class="d-flex justify-content-center">
                <a href="" class="ay-btn ay-link-btn-lg">Get Started</a>
            </div>
        </div>
    </section>


    <hr class="featurette-divider">


<section class="container">
    <div class="row text-center">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2 class="fw-normal">Walking</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2 class="fw-normal">Boarding</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2 class="fw-normal">Trasnport</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </section>
    <hr class="featurette-divider">


<section class="container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
          alt="" class="img-fluid media-img" >
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette space-bottom">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/nQsy4r4ffwLu1kiEndgGu/42d28898f5475a1aeea88a761d371302/1.png?auto=format&fit=max&w=1246"
          alt="" class="img-fluid media-img" >
        </div>
      </div>

    </section>




</main>

<app-footer></app-footer>