<app-header></app-header>

<main class="container-fluid p-0">

  <div class="row bg-section justify-content-end">

    <div class="col-lg-6 ">
      <div class="w-100 mt-5 video-container">
        <iframe src="https://www.youtube.com/embed/cWvbUDBBxiw" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>

  </div>
  <div class="row bg-title-section d-sm-none d-md-none ">
    <h3 class="text-center text-uppercase ff-bold fs-4 py-5 ">First Walk on Us and Why not 8TH Walk Too</h3>
  </div>


  <section class="section-1 ps-1 row space-y">



    <div class="section-text col-md-6 col-sm-12  order-2 order-md-1  ps-md-5 ">
      <h1 class="main-headline">
        EASIEST. QUIZ. EVER.
      </h1>
      <p>
        Tell us what you need to get ready, we'll do the rest.
      </p>
      <div class="d-flex justify-content-start">
        <a href="" [routerLink]="['/get-started']" class="ay-btn ay-link-btn-lg">Get Started</a>
      </div>
    </div>
    <div class=" col-md-6 col-sm-12 order-1 order-md-2 justify-content-center">
     
      <img src="./../../../assets/imgs/EasyQuizPic-1.png" alt="" class="img-fluid media-img">

    </div>

  </section>



  <section class="container my-5">
    <div class="row text-center sections-space ">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle my-2" width="200" height="200"
          src="../../../assets/imgs/Walking-1.png" role="img" alt="Walking" />

        <h2 class="fw-normal"><a [routerLink]="['/services']" fragment="walking" class="service-title">Walking</a></h2>

      </div>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle my-2" width="200" height="200"
          src="../../../assets/imgs/Boarding-1.png" role="img" />

        <h2 class="fw-normal"><a  [routerLink]="['/services']" fragment="boarding" class="service-title">Boarding</a></h2>

      </div>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle my-2" width="200" height="200"
          src="../../../assets/imgs/Transportation-1.png" role="img" />

        <h2 class="fw-normal"><a [routerLink]="['/services']" fragment="transportation" class="service-title">Transportation</a></h2>

      </div>
    </div>

  </section>


  <section class="container-fluid ps-md-5 gray-bg">
    <div class="row space-y">
      <h2 class="text-center text-uppercase ff-bold">Let Us Explain to the coolest app</h2>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class=" fw-normal lh-1 text-uppercase ff-bold ">Join the Hundreds already in our community.</h1>
        <p class="lead pt-4 pb-4 ff-normal">Try our service for free.</p>
          <div class="d-flex justify-content-start">
            <a href="" [routerLink]="['/get-started']" class="ay-btn ay-link-btn-lg">Free</a>
          </div>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img
          src="./../../../assets/imgs/CoolestAppImage-1.png"
          alt="" class="img-fluid media-img">
      </div>
    </div>
  </section>



    <section class="container">

    <div class="row extra-space-t space-b">
      <h2 class="text-center text-uppercase ff-bold">Why Aychiuaua ?</h2>
    </div>

    <div class="row featurette space-bottom">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 text-uppercase ff-bold">This is not your regular dog app </h2>
        <p class="lead"> </p>
          <dl>
          <dd>First walk for free.</dd>
          <dd>First walk for free.</dd>
          <dd>First walk for free.</dd>
          <dd>First walk for free.</dd>
          <dd>First walk for free.</dd>
        </dl>

 
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="./../../../assets/imgs/Why Aychihuahua-1.png"
          alt="" class="img-fluid media-img">
      </div>
    </div>

  </section>




</main>

<app-footer></app-footer>