<div class="container">
   
<div class="row ui-grid--flush flex-wrap space-b is-mobile ui-grid--compressed">
    <div class="col-lg-4 col-md-6 col-sm-12">
        
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input
                class="ui-input__checkbox--white-toggle" 
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-qeHNehFxee9VXSxj65PNg_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-qeHNehFxee9VXSxj65PNg_id" data-text="Head">Head</label>
                <span class="checked"><i class="bi bi-check2"></i></span></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-2lRAb0Ju3M5SmPCJWW8iL6_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-2lRAb0Ju3M5SmPCJWW8iL6_id" data-text="Face">Face</label></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-input__checkbox-wrapper--selected ui-bg__paper--supreme"><input
                class="ui-input__checkbox--white-toggle" 
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-10DA44DZQzA4koXSzxfB5Y_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-10DA44DZQzA4koXSzxfB5Y_id" data-text="Armpits">Armpits</label></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-1GwDNMSXLVuayVA4LKZfoh_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-1GwDNMSXLVuayVA4LKZfoh_id" data-text="Private bits">Private
                bits</label></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-mAx16raitINDBEpliCsLi_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-mAx16raitINDBEpliCsLi_id" data-text="Legs">Legs</label></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-6Lhf13SEl4L2KzXqesWrGK_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-6Lhf13SEl4L2KzXqesWrGK_id" data-text="Neck only">Neck only</label>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-5MaC4R80l67F6p68BEY6H4_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-5MaC4R80l67F6p68BEY6H4_id" data-text="Other">Other</label></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ui-input__checkbox-wrapper ui-bg__paper--supreme"><input class="ui-input__checkbox--white-toggle"
                name="q-3jWfQsuOH7v7m4hhKLqtRV__a-7uqhCUvzKZAUwcQweSP3wy_name" type="checkbox" value=""><label
                class="ui-input__checkbox-label--white-toggle ui-input__checkbox-label-text--white-toggle"
                for="q-3jWfQsuOH7v7m4hhKLqtRV__a-7uqhCUvzKZAUwcQweSP3wy_id" data-text="I don't shave">I don't
                shave</label></div>
    </div>
</div>
</div>