<app-header></app-header>
<div class="container">
    <div class="row space-y">
        <h2 class="text-right fw-normal">About</h2>
        <div *ngIf="false">
            <p class=" fs-1 py-2">
                Meet team Say Hey. Together we aim help our clients to inspire and impact the world around them.
            </p>
        </div>
        <p class="fs-4 py-2 ">
          At Aychihuahua we are one-upping the dog walking/boarding/service industry by having personal and consistent service to meet your needs. We’re giving the middle finger to unreliability, insecurity, and lack of understanding you and your dog(s), and saying hello to convenient, on-time, and friendly service. 
          </p>

<p class="fs-4 py-2">

          Having a CEO who grew the company from the ground up has allowed us the knowledge of our customer’s busy lifestyles and needs which has molded our company to make sure we exceed all expectations! We utilize knowledgeable and friendly staff that are trained to understand and care for your dog while ensuring they have the best time possible. The Present of AyChihuahua consists of us servicing our customers with scheduled and on-demand walks, boardings, and pick-up/drop off services done through Instagram, text message and phone calls to us directly.

        </p>
          
          
         <p class="fs-4"> 
          However, Hard work and dedication has us even closer to our Aychihuahua Future with Beta versions being tested for launching the coolest new app for all your pet’s needs! You will get real-time knowledge of how soon a walker can be at your door, book boardings in pet lover’s homes after choosing from pictures of where your dog will stay, and so much more to come. Give us a call to book your dog’s happiest hour today and remember that at AyChihuahua love can always be found at the end of the leash!        </p>

    </div>
<!-- 
    <div class="row">
        <p class="fs-4 space-y">
          At Aychihuahua we are one-upping the dog walking/boarding/service industry by having personal and consistent service to meet your needs. We’re giving the middle finger to unreliability, insecurity, and lack of understanding you and your dog(s), and saying hello to convenient, on-time, and friendly service. 
        </p>
    </div> -->

    

     

    


  

</div>


<app-footer></app-footer>
