<app-header></app-header>
<div class="container">

  <div class="row space-y">
    <img src="assets/imgs/hd.jpg" class="img-fluid" alt="...">


  </div>



  <div class="row featurette space-y" id="walking">
    <div class="col-md-7">
      <div class="kabosu-content">
        <h2 class="title display-5 text-start text-dark comic-neue text-color-dark">What is Dogecoin?</h2>
        <p class="fs-3 lh-md comic-neue">An open-source peer-to-peer digital currency, favoured by
          <span class="fs-3 fw-bold text-color-pink ">Shiba Inus worldwide.</span>
        </p>
        <p class="lh-md comic-neue">At its heart, Dogecoin is the accidental crypto movement that makes people smile! It
          is also an opensource peer-to-peer cryptocurrency that utilises blockchain technology, a highly secure
          decentralised system of storing information as a public ledger that is maintained by a network of computers
          called nodes. More than this, though, is the ethos of Dogecoin, summarised in the
          <a href="https://foundation.dogecoin.com/manifesto/" class="comic-neue">Dogecoin Manifesto</a>
          , and its amazing, vibrant community made up of friendly folks just like you!
          <a href="dogepedia/articles/what-is-dogecoin/" class="comic-neue">Learn more.</a>
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="assets/imgs/Boarding-1.png" alt="" class="img-fluid media-img">
    </div>
  </div>



  <div class="row space-y">
    <h1 class="my-3 text-color-pink ">Getting started</h1>

    <div class="col-sm-4 parent-numbers aos-init" data-aos="fade-left" data-aos-offset="100" data-aos-delay="10"
      data-aos-duration="1000">
      <h3 class="fs-4"><span class="badge bg-secondary">01</span> choose your wallet<br>&nbsp;</h3>
      <p>A wallet is necessary for people wanting to use, trade, or hold Dogecoin. You can pick a wallet</p><a
        href="/wallets" class="comic-neue btn btn-outline-secondary">Learn more.</a>
    </div>
    <div class="col-sm-4 parent-numbers aos-init" data-aos="fade-right" data-aos-offset="100" data-aos-delay="10"
      data-aos-duration="1000">
      <h3 class="fs-4"><span class="badge bg-secondary">02</span> configure your wallet</h3>
      <p>After downloading, you can configure your wallet according to our</p><a
        href="/dogepedia/articles/how-do-i-get-a-wallet/" class="comic-neue btn btn-outline-secondary">guide.</a>
    </div>
    <div class="col-sm-4 parent-numbers aos-init" data-aos="fade-left" data-aos-offset="100" data-aos-delay="10"
      data-aos-duration="1000">
      <h3 class="fs-4"><span class="badge bg-secondary">03</span> get some dogecoin<br>&nbsp;</h3>
      <p>There’s lots of ways to get your hands on some Dogecoin.</p><a href="dogepedia/articles/get-dogecoin/"
        class="comic-neue btn btn-outline-secondary">Learn more.</a>
    </div>
  </div>


</div>


<app-footer></app-footer>
